Django==5.2.7
gunicorn==25.1.0
whitenoise
psycopg2-binary
dj-database-url
requests
djangorestframework
django-filter
django-extensions
djangorestframework-simplejwt
tomlkit
Pillow
WeasyPrint
razorpay
